<div class="content">
  <div class="container py-md-4">
    <div class="row">
    
      <div class="col-md-4">
        <br>
        <div class="card card-body border-0 shadow-sm">
  
          <h5 class="font-weight-bold text-center">
            Monkey <span class="text-primary">Charts</span>
          </h5>
          <p class="text-sm text-center text-secondary">Keep it simple.</p>
  
          <div class="form-group">
            <select 
              name="chartType" 
              [(ngModel)]="chartType"
              (change)="onChartTypeChange()"
              class="custom-select custom-select-sm">
              <option value disabled>Chart Type</option>
              <option value="LINE">Line Chart</option>
              <option value="VERTICAL_BAR">Vertical Bar Chart</option>
              <option value="HORIZONTAL_BAR">Horizontal Bar Chart</option>
              <option value="PIE">Pie Chart</option>
              <option value="LINEAR_GAUGE">Linear Gauge</option>
            </select>
          </div>
  
          <div class="form-group">
            <input 
              name="heightInput" 
              [(ngModel)]="heightInput"
              class="form-control form-control-sm"
              placeholder="Chart height"
              min="0">
          </div>

          <div class="form-group">
            <select 
              name="colorScheme" 
              [(ngModel)]="colorScheme.name"
              (change)="onColorSchemeChange()"
              class="custom-select custom-select-sm">
              <option value disabled>Color Scheme</option>
              <option value="{{scheme.name}}" *ngFor="let scheme of colorSchemes">{{scheme.name}}</option>
            </select>
          </div>

          <pre class="text-secondary rounded border p-3 bg-light" style="max-height: 180px; font-size: x-small;">{{datum|json}}</pre>
  
        </div>
        <br>
      </div>
    
      <div class="col-md-8 keep-it-center">
        <div class="container">
          <div class="row m-0">
            <div class="col-md-2"></div>
            <div class="col-md-8 p-0 bg-light">

              <div *ngIf="chartType=='VERTICAL_BAR'">
                <mc-vertical-bar
                  [id]="'sample_vb'"
                  [datum]="datum"
                  [height]="heightInput"
                  [colorScheme]="colorScheme.domain"
                ></mc-vertical-bar>
              </div>

              <div *ngIf="chartType=='HORIZONTAL_BAR'">
                <mc-horizontal-bar
                  [id]="'sample_hb'"
                  [datum]="datum"
                  [height]="heightInput"
                  [colorScheme]="colorScheme.domain"
                ></mc-horizontal-bar>
              </div>

            </div>
            <div class="col-md-2"></div>
          </div>
          <br>
          <div class="text-secondary text-sm text-center">All charts are responsive.</div>
          <div class="text-secondary text-sm">
            {{chartType}}
            <br>
            {{colorScheme|json}}
            <br>
            {{datum|json}}
          </div>
        </div>
      </div>
    
    </div> 
  </div>
</div>